<% @offers.each do |offer| %>
  <p>Horas: <%= offer.hours %></p>
  <p>Data final: <%= offer.finish_date %></p>
  <p>Valor por hora: <%= offer.value %></p>
  <p><%= button_to "Aceitar oferta", plan_offer_accept_path(id: offer.id)%> </p>

<% end %>