
<h4>Projeto: <%= @plan.title %></h4>
<p>Horas: <%= @offer.hours %></p>
<p>Data final: <%= @offer.finish_date.strftime("%d/%m/%Y") %></p>
<p>Valor por hora: <%= number_to_currency(@offer.value) %></p>
<input type="button" value="Voltar" onClick="history.go(-1)"> 
